@import '../../../assets/color.scss';

.cardOutfit{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.2s;
    border-radius: 5px;
    -webkit-box-shadow: 0px 23px 43px -32px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 23px 43px -32px rgba(0,0,0,0.75);
    box-shadow: 0px 23px 43px -32px rgba(0,0,0,0.75);

    &:hover {
        .top, .bottom {
            transform: translate(0, 0);
        }

        .top-right, .bottom-right {
            opacity: 1;
        }
    }

    label {
        position: absolute;
        z-index: 1;
        background-color: $bg-sidebar;
        color: $white;
        padding: 6px 10px;
        border-radius: 20px;
        transition: all 0.2s;
        margin-bottom: 0;

        &.top {
            left: .2em;
            top: .2em;
            transform: translate(0, -30px);
        }

        &.bottom {
            left: .2em;
            bottom: .2em;
            transform: translate(0, 30px);
        }

        &.top-right {
            cursor: pointer;
            background-color: $white;
            top: .2em;
            right: .2em;
            color: $invalid;
            opacity: 0;

            &:hover{
                color: $delete;
            }
        }

        &.bottom-right {
            cursor: pointer;
            background-color: $white;
            bottom: .2em;
            right: .2em;
            color: $update;
            opacity: 0;

            &:hover{
                color: $updateHover;
            }
        }
    }
}