@import '../../../assets/color.scss';


.itemEmpty{
    height: 100%;
    background-image: url('/assets/pattern.png');
}

.sectionGarment{
    border-right: 1px solid $badgeOver;
}

.activeImg{
    background-color: $color-icon;
}

.sectionRandom{
    align-items: center;
}