<div *ngIf="userHasGarment; else noGarment">
    <div class="col-12 mb-2" *ngIf="!data">
        <div class="justify-content-center d-flex row mb-1 sectionRandom col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 p-0 d-flex">
                <p class="m-auto">
                    Génerer une tenue basé sur
                </p>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 d-flex">
                <mat-form-field appearance="outline" class="m-auto">
                    <mat-select [(value)]="randomId">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let r of random" [value]="r.id">
                          {{r.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" [ngSwitch]="randomId">
                <div *ngSwitchCase="1" class="d-flex">
                    <mat-form-field appearance="outline" class="m-auto">
                        <mat-select [(value)]="randomChoose">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let s of style" [value]="s.id_style">
                              {{s.label_style}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngSwitchCase="2" class="d-flex">
                    <mat-form-field appearance="outline"  class="m-auto">
                        <mat-select [(value)]="randomChoose">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let r of color" [value]="r.id_color">
                                <i [style.color]="r.hex_color" class="fas fa-circle"></i>
                                {{r.label_color}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngSwitchCase="3" class="d-flex">
                    <mat-form-field appearance="outline"  class="m-auto">
                        <mat-select [(value)]="randomChoose">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let r of season" [value]="r.id_season">
                              {{r.label_season}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 d-flex" *ngIf="randomId && randomChoose">
                <button class="btn btn-outline-primary m-auto" (click)="sendRandom()">Générer</button>
            </div>
        </div>
    </div>

    <div class="d-flex row justify-content-center">
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 sectionGarment mb-4">
            <div class="d-flex row mb-1">
                <div class="col-9 d-flex row justify-content-around">
                    <drag-scroll class="col-xl-7 col-lg-10 col-md-9 col-sm-12 col-12" #top (indexChanged)="index($event, 'top')">
                        <div class="col-4 itemEmpty" drag-scroll-item ></div>
                        <img    [ngClass]="{'activeImg': select.garmentTop && select.garmentTop.garment.id_garment === g.garment.id_garment}"
                                (click)="selectItem(i, g, 'top')"
                                class="col-4 p-1"
                                *ngFor="let g of topGarment; index as i"
                                drag-scroll-item
                                [src]="urlUpload + g.garment.url_img_garment"
                        />
                        <div class="col-4 itemEmpty" drag-scroll-item ></div>
                    </drag-scroll>
                </div>
                <div class="col-3 d-flex flex-column m-auto">
                    Vêtement Haut
                    <mat-form-field appearance="outline" class="outfit">
                        <input matInput [formControl]="formOutfit.controls.idGarmentTop" placeholder="test" [hidden]='true' required>
                        <mat-error *ngIf="formOutfit.controls.idGarmentTop.hasError('required')">
                          Merci de séléctionner un vêtement
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="d-flex row mb-1">
                <div class="col-9 d-flex row justify-content-around">
                    <drag-scroll class="col-xl-7 col-lg-10 col-md-9 col-sm-12 col-12" #mid (indexChanged)="index($event, 'mid')">
                        <div class="col-4 itemEmpty" drag-scroll-item ></div>
                        <img    [ngClass]="{'activeImg': select.garmentMid && select.garmentMid.garment.id_garment === g.garment.id_garment}"
                                (click)="selectItem(i, g, 'mid')"
                                class="col-4 p-1"
                                *ngFor="let g of midGarment; index as i"
                                drag-scroll-item
                                [src]="urlUpload + g.garment.url_img_garment"
                        />
                        <div class="col-4 itemEmpty" drag-scroll-item ></div>
                    </drag-scroll>
                </div>
                <div class="col-3 d-flex flex-column m-auto">
                    Vêtement millieu
                    <mat-form-field appearance="outline" class="outfit">
                        <input matInput [formControl]="formOutfit.controls.idGarmentMid" placeholder="test" [hidden]='true' required>
                        <mat-error *ngIf="formOutfit.controls.idGarmentMid.hasError('required')">
                          Merci de séléctionner un vêtement
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="d-flex row mb-1">
                <div class="col-9 d-flex row justify-content-around">
                    <drag-scroll class="col-xl-7 col-lg-10 col-md-9 col-sm-12 col-12" #bot (indexChanged)="index($event, 'bot')">
                        <div class="col-4 itemEmpty" drag-scroll-item ></div>
                        <img    [ngClass]="{'activeImg': select.garmentBot && select.garmentBot.garment.id_garment === g.garment.id_garment}"
                                (click)="selectItem(i, g, 'bot')"
                                class="col-4 p-1"
                                *ngFor="let g of botGarment; index as i"
                                drag-scroll-item
                                [src]="urlUpload + g.garment.url_img_garment"
                        />
                        <div class="col-4 itemEmpty" drag-scroll-item ></div>
                    </drag-scroll>
                </div>
                <div class="col-3 d-flex flex-column m-auto">
                    Vêtement bas
                    <mat-form-field appearance="outline" class="outfit">
                        <input matInput [formControl]="formOutfit.controls.idGarmentBot" placeholder="test" [hidden]='true' required>
                        <mat-error *ngIf="formOutfit.controls.idGarmentBot.hasError('required')">
                          Merci de séléctionner un vêtement
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 m-auto">
            <div class="d-flex flex-column justify-content-center col-12">
                    <mat-form-field class="col-12 m-auto" appearance="outline">
                        <mat-label>Titre de la tenue</mat-label>
                        <input matInput [formControl]="formOutfit.controls.label_outfit" placeholder="Ex. Tenue d'hiver" required>
                        <mat-error *ngIf="formOutfit.controls.label_outfit.hasError('required')">
                          Titre de la tenue <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                    <button *ngIf="!data; else updateOutfit" class="btn btn-outline-success col-4 mt-4 ml-auto mr-auto" (click)="sendOutfit()">Enregistrer</button>

                    <ng-template #updateOutfit>
                        <button [mat-dialog-close]="false" class="btn btn-outline-danger col-12 mt-4 ml-auto mr-auto">annuler</button>
                        <button class="btn btn-outline-success col-12 mt-4 ml-auto mr-auto" (click)="sendOutfit()">Enregistrer</button>
                    </ng-template>

            </div>
        </div>
    </div>

</div>

<ng-template #noGarment>
    <p>
        Merci d'ajouter des vêtements afin de pouvoir créer une tenue (memo: Oublie pas, une tenues doit comporter au minimum 3 vêtements)
        <br>
        <a routerLink="/accueil">Ajouter un vêtement</a>
    </p>
</ng-template>
