@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// couleurs

$bg-main: #fff;
$bg-sidebar: #2e4ead;
$color-icon: #92a6e2;
$white: #fff;
$active: #1f51e7;
$update: #73C6B6;
$updateHover: rgb(85, 121, 113);
$delete: #E74C3C;
$valid: #66FF33;
$invalid: #FF0000;
$invalidOpacity: rgba(255, 0, 0, 0.466);
$badge: #f4e6e3;
$badgeOver: #a8a8a8;
$dark: #000a29;
$saison1: rgb(0, 162, 255);
$saison2: rgb(88, 196, 55);
$saison3: rgb(255, 217, 0);
$saison4: rgb(179, 92, 11);

// radius
$radius-x4: 4px;
$radius-x8: 8px;

// Font
$title: 'Kaushan Script', cursive;
$font-base: 'Roboto', sans-serif;