<div class="container" *ngIf="!isDelete; else delete">
    <div *ngIf="data.user" class="col-12 d-flex justify-content-center mb-4">
        <div *ngIf="data.user.url_img_user">
            <img class="img-fluid rounded" [src]="data.user.url_img_user" alt="profil">
        </div>
    </div>

    <div class="col-12 d-flex justify-content-start row" *ngIf="data.user">
        <div class="input-group mb-3 col-12 col-md-6 ml-auto mr-auto">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-user-circle"></i></span>
            </div>
            <input id="username" type="text" [value]="data.user.name_user" class="form-control" placeholder="Pseudo" [disabled]="isDisabled">
        </div>

        <div class="input-group mb-3 col-12 col-md-6 ml-auto mr-auto">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" [value]="data.user.email_user" class="form-control" placeholder="Email" disabled>
        </div>

        <div class="input-group mb-3 col-12 col-md-6 ml-auto mr-auto">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <input type="text" [value]="date(data.user.creation_date_user) | date: 'dd/MM/yyyy'" class="form-control" placeholder="Date de création" disabled>
        </div>

    </div>

    <div class="col-12 d-flex row justify-content-center">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <button [ngClass]="{'btn-primary': isDisabled, 'btn-success': !isDisabled}" class="btn" (click)="setProfil(data.user.id_user, isDisabled)">
                <span *ngIf="isDisabled">Modifier  les informations</span>
                <span *ngIf="!isDisabled">Enregistrer  les informations</span>
            </button>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <button class="btn btn-danger col-8 col-md-6" (click)="deleteProfil(data.user.id_user, 0)">Supprimer mon compte</button>
        </div>
    </div>
</div>

<ng-template #delete>
    <div class="container f-flex flex-column">
        <div class="deleteLabel">
            <p class="m-0 p-0">
                Etes-vous sur de vouloir supprimer votre compte ?
            </p>
        </div>
        <div class="d-flex justify-content-around">
            <div class="col-6 d-flex justify-content-center">
                <button (click)="deleteProfil(data.user.id_user, 1)" class="btn btn-danger">Supprimer</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button (click)="deleteProfil(data.user.id_user, 2)" class="btn btn-primary">Annuler</button>
            </div>
        </div>
    </div>
</ng-template>