<div class="modal-confirm">
    <div [ngSwitch]="route">
        <p *ngSwitchCase="'garment'">Êtes-vous sûr de vouloir supprimer ce vêtement ?
            <br>
            <b>
                Vêtement : {{ garment.garment.label_garment }}
            </b>
            <br>
            <b>
                Créer le: {{ garment.garment.creation_date_garment | date: 'dd/MM/yyyy' }}
            </b>
        </p>
        <p *ngSwitchCase="'outfit'">Êtes-vous sûr de vouloir supprimer cette tenue ?</p>
    </div>
    <div class="flex-container">
        <button [mat-dialog-close]="false" class="btn btn-outline-primary cancel">Annuler</button>
        <button [mat-dialog-close]="true" class="btn btn-outline-danger">Supprimer</button>
    </div>
</div>