@import '../../../../assets/color.scss';

.modalUpload{
  .margin-z{
    margin: 0 auto;
  }

  img{
    max-width: 8em;
  }

  .uploadfilecontainer {
    height: 10em;
    border: 2px dashed $active;
    border-radius: 10px;

    .icon{
      color: $color-icon;
    }

    &:hover{
      cursor: pointer;
      background-color: $color-icon !important;
      opacity: 0.8;

      .icon{
        color: $active;
      }
    }
  }

  .uploadFile{
    border: 1px dashed $active;
    padding: 2em 4em 2em 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 10px;
  }

  form{
    .input-invalid{
      border: 1px solid $invalid;
    }

    .input-valid{
      border: 1px solid $valid;
    }
  }


}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: $white;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: $color-icon;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.labelExpl{
  font-style: italic;
  font-size: 14px;
}