<div class="modalUpload">

  <div class="container" *ngIf="stepOne; else stepTwo">
    <h4 class="text-center text-info">Etape n°1</h4>
    <p>Déposer ou glisser votre fichier</p>

    <div class="uploadfilecontainer d-flex" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
      <div class="m-auto">
        <i class="icon fas fa-cloud-upload-alt fa-4x"></i>
      </div>
      <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)" accept="image/*">
    </div>
  </div>

  <ng-template #stepTwo>
    <div class="container">
      <h4 class="text-center text-info">Etape n°2</h4>
      <p>Merci de remplir les informations suivante</p>

      <div class="row col-xl-8 col-md-10 col-12 justify-content-around margin-z uploadFile">
        <img [src]="url" class="img-fluid" max-height="25px" max-width="25px">
        <div class="my-auto">
          <button class="btn btn-danger" (click)="removeFile()">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </div>

      <form [formGroup]="formGarment" class="col-12 d-flex row justify-content-around">

        <!-- titre de l'img -->
        <mat-form-field class="col-12 col-md-4" appearance="outline">
          <mat-label>Titre de l'image</mat-label>
          <input matInput [formControl]="formGarment.controls.label_garment" placeholder="Ex. pull-over" required>
          <mat-error *ngIf="formGarment.controls.label_garment.hasError('required')">
            Titre de l'image <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <!-- marque  -->
        <mat-form-field class="col-12 col-md-4" appearance="outline">
          <mat-label>Marques</mat-label>
          <mat-select [formControl]="formGarment.controls.brand_id_brand" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let s of brand" [value]="s.id_brand">
              {{s.label_brand}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGarment.controls.brand_id_brand.hasError('required')">
            Marque <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <!-- saison  -->
        <mat-form-field class="col-12 col-md-4" appearance="outline">
          <mat-label>Saison</mat-label>
          <mat-select [formControl]="formGarment.controls.season_id_season" required [errorStateMatcher]="matcher">
            <mat-option>-Saison-</mat-option>
            <mat-option *ngFor="let s of season" [value]="s.id_season">
              {{s.label_season}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGarment.controls.season_id_season.hasError('required')">
            Saison <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <!-- style  -->
        <mat-form-field class="col-12 col-md-4" appearance="outline">
          <mat-label>Style de vêtements</mat-label>
          <mat-select [formControl]="formGarment.controls.style" required [errorStateMatcher]="matcher" multiple>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let s of style" [value]="s.id_style">
              {{s.label_style}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGarment.controls.style.hasError('required')">
            Style <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <!-- type  -->
        <mat-form-field class="col-12 col-md-4" appearance="outline">
          <mat-label>Type de vêtements</mat-label>
          <mat-select [formControl]="formGarment.controls.type_id_type" required [errorStateMatcher]="matcher">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let s of type" [value]="s.id_type">
              {{s.label_type}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGarment.controls.style.hasError('required')">
            Type <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <!-- couleur 1  -->
        <mat-form-field class="col-12 col-md-4" appearance="outline">
          <mat-label>Couleur primaire</mat-label>
          <mat-select [formControl]="formGarment.controls.colorPrim" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let s of color" [value]="s.id_color">
              <i [style.color]="s.hex_color" class="fas fa-circle"></i>
              {{s.label_color}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGarment.controls.colorPrim.hasError('required')">
            Couleur <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>

        <!-- couleur 2  -->
        <mat-form-field class="col-12 col-md-4" appearance="outline">
          <mat-label>Couleur secondaire</mat-label>
          <mat-select [formControl]="formGarment.controls.colorSecond">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let s of color" [value]="s.id_color">
              <i [style.color]="s.hex_color" class="fas fa-circle"></i>
              {{s.label_color}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </form>

      <p class="labelExpl col-12 text-right">Merci de renseigner tout les champs obligatoire *</p>

      <div class="col-12 d-flex justify-content-end">
        <button (click)="sendFile()" [mat-dialog-close]="isOk" type="submit" class="btn btn-success">Send</button>
      </div>

    </div>

  </ng-template>
</div>
