@import '../../../assets/color.scss';

h1{
  font-family: $title;
  color: $bg-sidebar;
}

.logo{
  max-width: 10em;
}

.imageFemme{
  border: 1px solid transparent;
  border-radius: 2em 0 0 2em;
}

.btnPassword{
  background: transparent;
  border: none;
}

.midSect{
  min-height: 75vh;
}

.section{
  display: flex;
  max-height: 60vh;
  min-height: 55vh;

  .section-img{
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 2em 0 0 2em;
  }
}

.sectionButton{
  margin: auto;

  button{
    min-height: 3em;
    max-height: 4em;
  }
}

.littleLabel{
  font-size: 12px;
  font-style: italic;
}

.errManu{
  padding: 0 1em;
  font-size: 75%;
  margin-top: 0.6666666667em;
  top: calc(100% - 1.7916666667em);
}

.legal {
  color: $bg-sidebar;
  cursor: pointer;
}