<div *ngIf="!token; else tokenredirect" class="container">
    <div class="col-12 d-flex justify-content-between">
        <div class="col-2 text-center">
            <img src="assets/logo.png" class="img-fluid logo" alt="logo_turnstyle">
        </div>
        <div class="col-10 text-right m-auto">
            <h1>Turnstyle</h1>
            <p class="font-italic">La mode accéssible pour tous</p>
        </div>
    </div>

    <div class="col-12 d-flex row m-auto justify-content-around">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex row">
            <div class="col-12 m-auto">
                <p class="text-justify">La mode (ou les modes), et plus précisément la mode vestimentaire, désigne la manière de se vêtir, conformément au goût d'une époque dans une région donnée. C'est un phénomène impliquant le collectif via la société, le regard qu'elle renvoie, les codes qu'elle impose et le goût individuel.</p>
            </div>

            <div class="col-12 d-flex justify-content-around mt-4 mb-4 sectionButton">
                <button type="button" (click)="effectBtn('inscription')" class="btn btn-primary col-4" *ngIf="!isRegistered; else isReturnRegistered">Inscription</button>
                <ng-template #isReturnRegistered>
                    <button type="button" (click)="effectBtn('retour')" class="btn btn-outline-warning col-4">Retour</button>
                </ng-template>

                <button type="button" (click)="effectBtn('connexion')" class="btn btn-primary col-4" *ngIf="!isLogin; else isReturnLogin">connexion</button>
                <ng-template #isReturnLogin>
                    <button type="button" (click)="effectBtn('retour')" class="btn btn-outline-warning col-4">Retour</button>
                </ng-template>
            </div>

            <div class="col-12 m-auto">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nihil ad sunt blanditiis dolor soluta corrupti, nemo optio explicabo nostrum nobis commodi, fugit harum error. </p>
            </div>

        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="section" *ngIf="isHome">
                <div class="section-img">
                    <img src="assets/femme.jpg" class="img-fluid imageFemme" alt="turnstyle">
                </div>
            </div>

            <div class="section d-flex row m-auto justify-content-center" *ngIf="isLogin">
                <div class="col-8 m-auto">
                    <div class="d-flex row flex-column">

                        <mat-form-field appearance="outline">
                            <mat-label>Adresse mail</mat-label>
                            <input matInput [formControl]="formConnect.controls.email" placeholder="Adresse email" required>
                            <mat-error *ngIf="formConnect.controls.email.hasError('required')">
                                Email <strong>obligatoire</strong>
                            </mat-error>
                            <mat-error *ngIf="formConnect.controls.email.hasError('pattern')">
                                Merci de renseigner un email valide
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput [formControl]="formConnect.controls.pass" [type]="hide ? 'password' : 'text'" required>
                            <button mat-icon-button class="btnPassword" matSuffix (click)="hide = !hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="formConnect.controls.pass.hasError('required')">
                                Mot de passe obligatoire <strong>obligatoire</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="text-right">
                        <button type="button" (click)="login()" class="btn btn-success">Se connecter</button>
                    </div>
                </div>
            </div>

            <div class="section" *ngIf="isRegistered">
                <div class="col-8 m-auto">
                    <div class="d-flex row flex-column">

                        <mat-form-field appearance="outline">
                            <mat-label>Pseudo</mat-label>
                            <input matInput [formControl]="formResistered.controls.name" placeholder="Adresse email" required>
                            <mat-error *ngIf="formResistered.controls.name.hasError('required')">
                                Pseudo <strong>obligatoire</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Adresse mail</mat-label>
                            <input matInput [formControl]="formResistered.controls.email" placeholder="Adresse email" required>
                            <mat-error *ngIf="formResistered.controls.email.hasError('required')">
                                Email <strong>obligatoire</strong>
                            </mat-error>
                            <mat-error *ngIf="formResistered.controls.email.hasError('pattern')">
                                Merci de renseigner un email valide
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput [formControl]="formResistered.controls.pass" [type]="hide ? 'password' : 'text'" required>
                            <button mat-icon-button class="btnPassword" matSuffix (click)="hide = !hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="formResistered.controls.pass.hasError('required')">
                                Mot de passe obligatoire <strong>obligatoire</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Confirmation mot de passe</mat-label>
                            <input matInput [formControl]="formResistered.controls.passConfirm" [type]="hide ? 'password' : 'text'" required>
                            <button mat-icon-button class="btnPassword" matSuffix (click)="hide = !hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="formResistered.controls.passConfirm.hasError('required')">
                                Mot de passe obligatoire <strong>obligatoire</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="text-right">
                        <button type="button" (click)="register()" class="btn btn-success">S'inscrire</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="col-12 text-center mt-4">
        <p>
            <a>Mention Légal</a>
            <br>
            <span class="littleLabel">Copyright © Kevin Landry / Teddy Sommavilla.</span>
        </p>
    </footer>
</div>

<ng-template #tokenredirect>

</ng-template>