@import '../../../assets/color.scss';

h1{
  font-style: italic;
}

.logo{
  max-width: 10em;
}

.imageFemme{
  border: 1px solid transparent;
  border-radius: 2em 0 0 2em;
}

.btnPassword{
  background: transparent;
  border: none;
}

.section{
  display: flex;
  max-height: 60vh;
  min-height: 55vh;
}

.sectionButton{
  button{
    max-height: 4em;
  }
}

.littleLabel{
  font-size: 12px;
  font-style: italic;
}
