<div class="wrapper" [ngClass]="{'collapseCustom': !isCollapse}">

  <nav class="top_navbar">
    <div class="hamburger" (click)="collapse()">
      <i class="fas fa-bars m-auto"></i>
    </div>

    <div class="topMenu">
      <ul>
        <li>
          <a href="#"><i class="fas fa-bell"></i></a>
          </li>
        <li>
          <a href="#" class="d-flex">
            <img class="userProfil" *ngIf="user.img_user; else noImg" [src]='user.img_user' alt="profil">

            <ng-template #noImg>
              <i class="fas fa-user"></i>
            </ng-template>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="mainApp" (mouseover)="collapse($event)" (mouseout)="collapse($event)">
    <div class="sidebar" [ngClass]="{'sideResp': isCollapse}">
      <ul>
        <li *ngFor="let r of sideBar" (click)="navigation(r)">
          <a [ngClass]="{'active': r.isActive}">
            <span class="icon" [innerHTML]="r.icon"></span>
            <span class="title"> {{r.title}} </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="main_container">
      <!-- contenu du site -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>