@import './assets/color.scss';

html, body {
    background-color: $bg-main;
    height: 100%;
    font-family: $font-base!important;
}

// Surcharge Angular Material
.mat-snack-bar-container{
    background-color: $bg-sidebar;
    color: $white;

    &.snackErr{
        background-color: $invalid;
    }

    button{
        color: $white;
    }
}

// Surcharge Angular Material btn OutfitGenerateComponent
.outfit{
    .mat-form-field-wrapper{
        .mat-form-field-flex{
            display: none!important;
        }
    }
}

.drag-scroll-content{
    display: flex!important;
}