<div class="col-12 garment">
  <!-- Ajoute des vêtements -->
  <div class="col-12 d-flex justify-content-between mb-4 pb-4">
    <button class="btn btn-info btn-add" (click)="addGarment()">
      <i class="fas fa-plus"></i>
    </button>

    <div class="filter row col-10">
      <!-- Filtre -->
      <div *ngFor="let f of filterName" class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
        <!-- Filter name -->
        <div class="d-flex row justify-content-around" (click)="openFilter(f.id, f.active)">
          <span [ngClass]="{activeChevron: f.active}" class="title col-9">{{f.title}}</span>
          <span *ngIf="f.active; else noActive" class="col-3">
            <i [ngClass]="{activeChevron: f.active}" class="fas fa-chevron-up"></i>
          </span>
          <ng-template #noActive>
            <span class="col-3">
              <i class="fas fa-chevron-down"></i>
            </span>
          </ng-template>
        </div>

        <!-- Filter sub-name -->
        <div class="filter-menu p-1" *ngIf="f.active">
          <ul>
            <li (click)="filter(v)" class="d-flex filter-link justify-content-around" *ngFor="let v of f.value">
              <div *ngIf="f.id === 5; else noColor" class="col-12 p-0">
                <span class="col-2 activeIcon" *ngIf="v.active">
                  <i class="far fa-dot-circle"></i>
                </span>
                <span class="col-2" *ngIf="!v.active">
                  <i class="far fa-circle"></i>
                </span>
                <span [ngClass]="{activeIcon: v.active}" class="col-10">
                  <i [style.color]="v.hex" class="fas fa-circle"></i>
                  {{ v.label }}
                </span>
              </div>
              <ng-template #noColor >
                <!-- If btn activer -->
                <span class="col-2 activeIcon" *ngIf="v.active">
                  <i class="far fa-dot-circle"></i>
                </span>
                <span class="col-2" *ngIf="!v.active">
                  <i class="far fa-circle"></i>
                </span>
                <span [ngClass]="{activeIcon: v.active}" class="col-10">{{v.label}}</span>
              </ng-template>
            </li>
          </ul>
        </div>
        <!-- Fin filter -->

      </div>

      <!-- Taille de la liste des vêtements user -->
      <p class="col-12 text-right mt-2" *ngIf="garment">
        {{ garment.length }} <span *ngIf="garment.length === 0 || garment.length === 1; else moreGarment">Vêtement</span>
        <ng-template #moreGarment>
          Vêtements
        </ng-template>
      </p>
    </div>
  </div>

  <div (click)="resetFilter()" *ngIf="filterSelect.length !== 0" class="col-12 d-flex justify-content-start">
    <p  color="primary"
        [matBadge]="filterSelect.length"
        matBadgePosition="after"
        matBadgeColor="primary"
        class="m-0 p-0 text-center"
    >
      Filtres
      <br>
      sélectionner:
    </p>

    <!-- Liste des filtres selectionner -->
    <div class="d-flex row ml-2 col-11">
      <div *ngFor="let f of filterSelect" class="filterList">
        <div *ngIf="f.active">
          <div class="badgeFilter justify-content-start mr-2">
            <div class="d-flex justify-content-center m-2" (click)="filter(f)">
              <div class="col-11 m-auto">
                <label class="p-0 m-0">{{f.label}}</label>
              </div>
              <div class="col p-2 icon">
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Partie card garment -->
  <div (click)="resetFilter()" class="col-12 justify-content-center row mx-auto" *ngIf="garment.length != 0; else noGarment">
    <div *ngFor="let g of garment" class="col-xl-3 col-md-4 col-sm-6 col-12 sect-img">
      <div class="col-12 d-flex row justify-content-between">
        <p [innerText]="g.garment.label_garment"></p>
        <div>
          <i *ngFor="let c of g.colors" [style.color]="c.hex_color" class="fas fa-circle"></i>
        </div>
      </div>
      <div class="sect-hover">
        <img class="img-fluid" [src]="urlApiUpload + g.garment.url_img_garment" [alt]="g.garment.label_garment">
        <div class="sect-hide d-flex">
          <div class="col-6 d-flex update" (click)="actToGarment(1, g)">
            <div class="icon row">
              <i class="fa-2x fas fa-pencil-alt"></i>
              <span class="col-12">
                Modifier
              </span>
            </div>
          </div>
          <div class="col-6 d-flex delete" (click)="actToGarment(0, g)">
            <div class="icon row">
              <i class="fa-2x far fa-trash-alt"></i>
              <span class="col-12">
                Supprimer
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="desc d-flex row justify-content-between col-12 m-auto">
        <div class="col-6 d-flex row">
          <label class="mr-2">Saison :</label>
          <label class="season_{{g.garment.season_id_season}}" [innerHTML]="getImgSeason(g.garment.season_id_season)"></label>
        </div>
        <div class="col-6 text-right">
          <label class="mr-2">Type :</label>
          <label>{{getType(g.garment.type_id_type)}} </label>
        </div>
        <div>
          <label class="mr-2">Marque :</label>
          <label> {{getBrand(g.garment.brand_id_brand)}} </label>
        </div>
        <div>
          <div class="d-flex row">
            <label class="style m-1" *ngFor="let s of g.styles"> {{s.label_style}} </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noGarment>
    Aucun vêtements trouver
  </ng-template>
</div>